<div style="text-align: center; margin-top: 40px">
<!-- <h4>Sistema de Monitoreo de precios</h4> -->
<%= link_to "+ Agregar un nuevo registro", new_registro_path, class: "btn btn-success btn-md" %>
<br></br>
<%= link_to "Visualizar registros realizados", registros_path, class: "btn btn-primary btn-md" %>
<br></br>
<%- if user_signed_in? %>
<% else %>
<%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-info btn-md" %>
<% end %>

</div>
