.dato{
  font-weight: bold;
  text-align: right;
}

.show-table{
  max-width: 450px;
  tr {
  border-bottom: solid 1px gray;
  }
}

.invalid-feedback{
  color: red !important;
}

.sign-in-bnt{
  .btn{
    background-color: $green;
  }
}
