<h2>Editar registro de precio</h2>

<form action = "/registros" method="patch">
  <input type="text" name="registro[producto]" value="Producto">
  <input type="text" name="registro[ubicacion]">
  <input type="integer" name="registro[precio]">
  <input type="text" name="registro[nivel]">
  <input type="submit" value="Guardar registro">
</form>
